<div class="container flex flex-row justify-center m-12">
  <mat-card class="flex flex-col py-10 px-3 justify-center align-middle">
    <div class="flex justify-center">
      <h1>Button is {{buttonStatus}}</h1>
    </div>
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Enter a tooltip for disabled button</mat-label>
        <input matInput [formControl]="tooltipText">
      </mat-form-field>
    </form>
    <button mat-button (click)="enableToggle()">{{ enableStatus }}</button>
    <div class="space"> </div>
    <button mat-raised-button
            color="primary"
            [isViewerDisabled]="!isEnabled"
            [matTooltip]="!isEnabled ? tooltipText.value : ''">Button
    </button>
  </mat-card>
</div>
